
:root{
    --background-color: #374151;
    --secundary-color: #9b9b9b;
    --color-text: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    overflow: hidden;
    
  }
  
  img, picture, video, canvas {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .main_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px;
    margin-top: 70px;
  }
  

 .link_box{
    width: 70%;
    padding: 40px;
    color: var(--color-text);
    display: block;
    margin-top: 40px;
    background-color: transparent;
    border: 4px solid #007aff;    ;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    transition-property: background-color, color, border;
    transition-duration: .5s;
 }
 .link_box:hover{
    background-color: #c1d8f1;
    color: var(--background-color);
    border-color: var(--background-color);
 }
 .link_box:active{
  background-color: #c1d8f1;
  color: var(--background-color);
  border-color: var(--background-color);
}

/*----------------------BREAK-OUT-------------------*/
.canvas-bout{
  display: block;
  width: 100%;
  height: 100%;

}

dialog{
  position: absolute;
  width: 100vw;
  height: 100vh ;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  background: #0009;
  border: 0;
  z-index: 10;
}

.modal_content{
  width: 60%;
  height: 70%;
  background: rgb(103, 110, 110);
  position: relative;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  z-index: 20;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: center;
  gap: 30px;
}


.modal_title{
  margin-top: 20px;
  font-size: 4em;
  text-align: center;
  color: #222627;
}

.modal_button, .modal_content a {
  display: inline-block;
  position: relative;
  background: #374151;
  color: var(--color-text, white); /* Valor por defecto */
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color;
  transition-duration: .5s;
}

/* Botón específico */
.modal_button {
  margin-top: 50px;
  left: 15%;
  width: 70%;
}

/* Enlace específico */
.modal_content a {
  margin-top: 10px;
  left: 15%;
  width: 70%;
}
.modal_button:hover{
  background: #2d3233;
}
.modal_content a:hover{
  background-color:#2d3233; 
}



 

 @media screen and (max-width:300px) {
    .link_box{
        font-size: 20px;
        padding: 10px;
    }
 }